<h1>PhotoMX</h1>
<table>
    <tr>
        <td>
            <app-controls-fader (outvalue)="setDmxData(0,$event)"></app-controls-fader>
        </td>
        <td>
            <app-controls-fader (outvalue)="setDmxData(1,$event)"></app-controls-fader>
        </td>
        <td>
            <app-controls-fader (outvalue)="setDmxData(2,$event)"></app-controls-fader>
        </td>
        <td>
            <app-controls-fader (outvalue)="setDmxData(3,$event)"></app-controls-fader>
        </td>
        <td>
            <app-controls-fader (outvalue)="setDmxData(4,$event)"></app-controls-fader>
        </td>
        <td>
            <app-controls-fader (outvalue)="setDmxData(5,$event)"></app-controls-fader>
        </td>
        <td>
            <app-controls-fader (outvalue)="setDmxData(6,$event)"></app-controls-fader>
        </td>
        <td>
            <app-controls-fader (outvalue)="setDmxData(7,$event)"></app-controls-fader>
        </td>
    </tr>
</table>